.sass-cache
*.css.map

._*
.DS_Store
.vagrant
.tmp

node_modules
*/node_modules

dist/**/**

app/css/styles.css
app/css/style.min.css
*.css

Landingpage/dist/css/style.min.css
Landingpage/app/css/styles.css
Landingpage/app/css/style.min.css

Webesite/dist/css/style.min.css
Webesite/app/css/styles.css
Webesite/app/css/style.min.css
*.js
