.sass-cache
*.css.map

._*
.DS_Store
.vagrant
.tmp

node_modules
*/node_modules

dist/**/**

app/css/styles.css
app/css/style.min.css

app/js/script.min.js
app/js/script.min.js

*.css


Landingpage/dist/css/style.min.css
Landingpage/app/css/styles.css
Landingpage/app/css/style.min.css

Website/dist/css/style.min.css
Website/app/css/styles.css
Website/app/css/style.min.css
Website/app/js/script.min.css

*.js
