// ALL
@import '_foundation';

@charset "UTF-8";

@font-face {
    font-family: "social";
    src:url("../font/social.eot");
    src:url("../font/social.eot?#iefix") format("embedded-opentype"),
    url("../font/social.woff") format("woff"),
    url("../font/social.ttf") format("truetype"),
    url("../font/social.svg#social") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-semibold';
    font-weight: bold;
    font-style: bold;
    src:url("../font/Raleway-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: 'Raleway-reg';
    font-weight: normal;
    font-style: normal;
    src:url("../font/Raleway-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Raleway-light';
    font-weight: lighter;
    font-style: lighter;
    src:url("../font/Raleway-Light.ttf") format("truetype");
}

// VAR
$grey: #2C2C2C;
$yellow: #F7B232;
$white: #fff;
$lightgrey: #e1e1e1;
$whitegrey: #f6f6f6;
$RALSB: 'Raleway-semibold', Helvetica, sans-serif;
$RALR: 'Raleway-reg', Helvetica, sans-serif;
$RALL: 'Raleway-light', Helvetica, sans-serif;

body, html{
    height:100%;
}

body {
    padding: 0;
    margin: 0;
    overflow: auto;
    // user-select: none;
}

button{ 
    border:none;
    text-transform: uppercase;
    background-color: $yellow;
    color: $grey !important;
    transition: ease-in-out all 0.5s;
    font-family: $RALSB;
    border-radius: 4px;
    &:hover{
        background-color: $grey;
        color: $yellow !important;
        a{
            color: $yellow;
        }
    }
    &:active{
        background-color: lighten($grey, 20%);
        color: $white !important;
        a{
            color: $white;
        }
    }
    &:visited{
        background-color: lighten($grey, 20%) !important;
        color: $white !important;
        a{
            color: $white !important;
        }
    }
    a{
        font-family: $RALSB;
        color: $grey 
    }
}

*{
    box-sizing: border-box;
}

textarea, select, input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"]{
    box-sizing: border-box;
    background-clip:padding-box;
    border-radius:0;
    appearance:none;
    background-color:#fff;
    color:#000;
    outline:0;
    margin:0;
    padding:0;
    text-align: left;
    font-size:1em;
    vertical-align: middle;
    resize: vertical;
}

select{
    background:#fff url(data:image/png;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==);
    background-repeat: no-repeat;
    background-position: 97% center;
    padding:0 25px 0 8px;
    font-size: .875em
}
fieldset{
    border: none;
    legend{
        display: none;
    }
}

.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

// NAV
.underNav{
    margin-top: 5.3125rem;
}

.navBar {
    transition: ease-in-out all 0.3s;
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
    background-color: $grey;
    z-index: 9999;
    font-family: $RALR;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    display: block;
    transform: translateZ(0);
    .title-area{
        .name{
            width: 200px;
            h1{
                a{
                    width: 100%;
                    padding: 0 0 0 1.77rem;
                    img{
                        width: 80%;
                    }
                }
            }
        }
    }
    .top-bar-section{
        background-color: $grey !important;
        ul{
            background-color: $grey !important;
            &:hover{
                color: $grey;
            }
            li{                
                text-align: center;
                vertical-align: middle;
                color: $white;
                font-family: $RALR;
                text-decoration: none;
                background-color: $grey !important;
                &:hover{
                    a{
                        color: $yellow; 
                    }
                }
                a{
                    font-family: $RALR;
                    background-color: $grey !important;
                    font-size: 1em;
                    transition: ease-in-out all .5s;
                    padding-left: 0;
                    padding-right: 0; 
                    &:hover{
                        color: $yellow;
                    }
                }
                .active{
                    color: $yellow;
                    font-family: $RALSB;
                }
            }
        }
    }
}
.transparentNav{
    background-color: transparent;
    .top-bar-section{ 
        background-color: transparent !important;
        ul{
            background-color: transparent !important;
            li{
                background-color: transparent !important;
                a{
                    background-color: transparent !important;
                }
            }
        }
    }
}

@media screen and (max-width: 1050px) {
    .transparentNav{
        background-color: $grey;
            .top-bar-section{ 
                background-color: $grey !important;
                ul{
                    background-color: $grey !important;
                    li{
                        background-color: $grey !important;
                        a{
                            background-color: $grey !important;
                        }
                    }
                }
            }
        .toggle-topbar.menu-icon{
            a{
                span{
                    &::after{
                        content: "";
                        position: absolute;
                        display: block;
                        height: 0px;
                        top: 50%;
                        margin-top: -8px;
                        right: 20px;
                        box-shadow: 0px 0px 0px 1px white,0px 7px 0px 1px white,0px 14px 0px 1px white;
                        width: 20px;
                    }
                }
            }
        }
    }
}

// FOOTER
footer{
    background: $grey;
    text-align: center;
    bottom: 0;
    padding: 10px 0 25px;
    .copyright{
        vertical-align: middle;
        margin: 22px 0 10px;
        span{
            color: $white;
            font-family: $RALR;
        }
    }
    .socialPart{
        text-align: center;
        .fbBack{
            display: inline-block;
            margin: 15px 10px 0;
            border-radius: 50%;
            background-color: #45619d;
            transition: ease-in-out all .5s;
            .fbLink{
                color: $white;
                text-decoration: none;
                transition: ease-in-out all .5s;
                display: table-cell;
                vertical-align: middle; 
                text-align: center;
                height: 40px;
                width: 40px; 
                &:before{
                    font-family: "social";
                    font-size: 1.4em;
                    content:'\e001';
                }
                &:hover{
                    color: $grey;
                }
            }
            &:hover{
                background-color: $yellow;
            }
        }
        .instaBack{
            display: inline-block;
            border-radius: 50%;
            margin-top: 15px;
            background-color: #246087;
            transition: ease-in-out all .5s;
            .instagramLink{
                color: $white;
                text-decoration: none;
                transition: ease-in-out all .5s;
                display: table-cell;
                vertical-align: middle; 
                text-align: center;
                height: 40px;
                width: 40px; 
                &:before{
                    font-family: "social";
                    font-size: 1.4em;
                    content:'\e000';
                }
                &:hover{
                    color: $grey;
                }
            }
            &:hover{
                background-color: $yellow;
            }
        }
        .pinBack{
            display: inline-block;
            border-radius: 50%;
            margin-top: 15px;
            background-color: #ab171e;
            transition: ease-in-out all .5s;
            .pinterestLink{
                color: $white;
                text-decoration: none;
                transition: ease-in-out all .5s;
                display: table-cell;
                vertical-align: middle; 
                text-align: center;
                height: 40px;
                width: 40px; 
                &:before{
                    font-family: "social";
                    font-size: 1.3em;
                    content: '\e002';
                }
                &:hover{
                    color: $grey;
                }
            }
            &:hover{
                background-color: $yellow;
            }
        }
    }
    .linkPark{
        vertical-align: middle;
        margin-top: 22px;
        a{
            color: $white;
            font-family: $RALR;
            margin: 0 15px;
            transition: ease-in-out all .5s;
            &:hover{
                color: $yellow;
            }
        }
        .active{
            color: $yellow;
        }
    }
}

//FORMS
label{
    font-family: $RALSB !important;
    color: $grey;
}

.forms{
    .fieldContainer{
        margin-bottom: 10px !important;
        .labelContainer{
            label{
                padding: 15px 0;
            }
        }
        .champContainer{
            float: left !important;
            input{
                padding: 0 10px;
                border-radius: 6px;
                border: none;
                height: 45px;
                font-family: $RALL;
            }
            textarea{
                padding: 10px 10px;
                border-radius: 6px;
                border: none;
                font-family: $RALL;
            }
            .emptyField{
                border: rgba(255, 0, 0, 0.5) 1px solid;
                box-shadow: 0px 0px 5px 2px rgba(255, 0, 0, 0.2);
            }
        }
    }
    .formSubmit{
        width: 200px;
        margin: 80px 0 0 265px;
    }
    .obg{
        text-align: right;
        color: $grey;
        font-family: $RALL;
        margin: 40px 15px 0 0;
    }
}

@media only screen and (max-width: 40em) { 
    .forms{
        .fieldContainer{
            .labelContainer{
                height: 45px !important;
                label{
                    float: left !important;
                }
            }
        }
        .formSubmit{
            margin-left: 1.25rem;
        }
    }
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) { 
    .forms{
        .formSubmit{
            margin-left: 192px;
        }
    } 
}

// HOME
.videoHeight {
    // BACKGROUND VIDEO
    .js-video{
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 25px;
        height: 0;
        overflow: hidden;
        #videosOverlay{
            background: url(http://lorempixel.com/400/300) no-repeat center;
            background-size: cover;
            position: absolute;
            top: 0; 
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -3;
            border: none;
        }
        .youtube-player{
            position: absolute;
            top: 0; 
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -10;
            border: none;
        }
        #player2{
            z-index: -5;
        }
        .baseline{
            h2{
                padding-top: 35px;
                padding-bottom: 50px;
                img{
                    width: 400px;
                    padding: 0;
                }
            }

            .yellowZ{
                color: #F7B232;
                font-family: $RALSB;
            }

            p{
                color: $grey;
                font-family: $RALSB;
                text-align: center;
                font-size: 1.4em;
            }
        }
        img{
            text-align: center;
            display: block;
            margin-right: auto;
            margin-left: auto;
            width: 40px;
            margin-top: 60px;
        }
    }
}
.mobileContent{
    padding: 100px 0;
    background: url(http://lorempixel.com/400/300) no-repeat center;
    background-size: cover;
    text-align: center;
    h2{
        img{
            width: 80%;
            padding: 0;
        }
    }
}
.explainContainer{
    background: url('../img/home/explain-bg.jpg')no-repeat center;
    background-size: cover;
    padding: 100px 0;
    .explication{
        vertical-align: middle;
        color: $white;
        font-size: 1.5em;
        text-align: center;
        font-family: $RALR;
    }
}
.devisContainer{
    background-color: $lightgrey;
    .artistBlock, .entrepriseBlock{
        padding: 100px 0;
        h3{
            text-align: center;
            font-size: 1.3em;
            font-family: $RALL;
            color: $grey;
            text-transform: uppercase;
        }
        .iconsDevis{
            margin: 20px;
            font-family: 'social';
            text-align: center;
            font-size: 6em;
        }
        .txtWrap{
            text-align: center;
            font-family: $RALR;
            font-size: 1.1em;
            width: 70%;
            display: block;
            margin: auto;
        }
        button{
            margin-top: 50px;
        }
    }
    .artistBlock{
        .iconsDevis{
            &:before{
                content:'\e003';
            }
        }
    }
    .entrepriseBlock{
        border-left: solid #fff 5px;
        .iconsDevis{
            &:before{
                content:'\e004';
            }
        }
    }
    button{
        display: block;
        margin : auto;
    }
}
.feedContainer{
    background: $lightgrey;
    padding: 100px 0; 
    font-family: $RALR;
    section{
        h3{
            text-align: center;
            font-size: 1.8em;
            font-family: $RALSB;
            color: $grey;
        }
        p{
            text-align: center;
            font-size: 1.2em;
            font-family: $RALL;
            color: $grey;
            margin: 90px 0 110px;
        }
        button{
            margin: auto;
            display: block;
        }
    }
}
.resultatContainer{
    background: url(../img/home/noref-bg.jpg) no-repeat center;
    background-size: cover;
    padding: 100px 0;
    div{
        margin-bottom: 120px;
        h3{
            text-align: center;
            font-size: 1.8em;
            font-family: $RALSB;
            color: $grey;
        }
        section{
            margin-top: 100px;
            .imgWrap{
                margin: 0;
                padding: 0;
                a{
                    .referenceDesc{
                        position: absolute;
                        top: 0;
                        bottom: -1px;
                        left: 0;
                        right: 0;
                        text-align: center;
                        margin: 0;
                        background: rgba($yellow, 0.6);
                        color: $grey;
                        visibility: hidden;
                        font-size: 1.15em;
                        opacity: 0;
                        transition: ease-in-out all 0.5s;
                        padding-top: 115px;
                    }
                    &:hover{
                        .referenceDesc, .plusIcon{
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                    .plusIcon{
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        text-align: center;
                        margin: 0;
                        background: url(../img/references/plus.png) no-repeat center;
                        background-size: 25px;
                        visibility: hidden;
                        opacity: 0;
                        transition: ease-in-out all 0.5s;
                    }
                }   
            }
        }
    }
    button{
        display: block;
        margin : auto;
    }
    p{
        font-family: $RALSB;
        text-align: center;
        font-size: 2em;
    }
}
.descContainer{
    background: url('../img/home/temoignage-bg.jpg') no-repeat center;
    background-size: cover;
    padding: 100px 0;
    section{
        .temoignagePart{
            h3{
               text-align: center;
               font-size: 1.3em;
               font-family: $RALSB;
               color: $grey;
               height: 50px;
            }
            .temoignageLeft, .temoignageRight{
                margin: 50px 0 100px;
                background-color: $lightgrey;
                .leftPic, .rightPic{
                    padding: 0;
                }
                .temoignagesText{
                    padding: 30px 30px 0;
                    .phrase, .from{
                        color: $grey;
                        font-family: $RALL;
                        font-size: 1.1em;
                    }
                    .phrase{
                        text-align: center;
                    }
                    .from{
                        text-align: right;
                    }
                }
            }
        }
    }
}

//CONTACT
.contactContainer{
    background-color: $lightgrey;
    font-family: $RALSB;
    .titleContainer{
        padding: 40px 0;
        background: url(../img/contacts/contact_bg.jpg)no-repeat fixed;
        background-size: cover;
        min-height: 100%;
        h2{
            img{
                width: 180px;
                padding: 0;
            }
        }
    }

    .row{
        text-align: center;
        .artistPart, .entreprisePart, .coordoneesPart{
            padding: 20px 0;
            background-color: $lightgrey;
            h3{
                text-align: center;
                font-size: 1.2em;
                font-family: $RALSB;
                color: $grey;
            }
            p{
                text-align: center;
                font-family: "social";
                font-size: 5em;
                color: $yellow;
                transition: ease-in-out all 0.5s;
                cursor: pointer;
            }
            .active{
                color: $grey;
            }
            &:hover{
                p{
                    color: $grey;
                }
            }
        }
        .artistPart{
            p{
                &::before{
                    content: '\e003';
                }
            }
        }
        .entreprisePart{
            border-left: 2px $grey solid;
            border-right: 2px $grey solid;
            p{
                &::before{
                    content:'\e004';
                }
            }
        }
        .coordoneesPart{
            p{
                &::before{
                    content: '\e005';
                }
            }
        }
        .selectPart{
            padding: 75px 100px 0;
            select{
                height: 35px;
                color: $grey;
                font-family: $RALR;
            }
        }
        .contactPart{
            background-color: $lightgrey;
            padding: 30px 0;
        }
        .coordoneesSec{
            .infos{
                // margin: 30px 0;
                p{
                    text-align: center;
                    color: $grey;
                    /* font-family: $RALR; */
                    margin-bottom: 0;
                }
                a{
                    text-align: center;
                    color: $grey;
                    transition: ease-in-out all 0.5s;
                    /* font-family: $RALR; */
                    &:hover{
                        color: $yellow;
                    }
                }
            }
            .gmap{
                margin-top: 25px;
                height: 300px;
                iframe{
                    height: 300px;
                    width: 100%;
                }
            }
        }
    }
}

// FAQ
.faqContainer{
    padding: 100px 0;
    background: url('../img/faq_bg.jpg') no-repeat center fixed;
    background-size: cover;
    min-height: 100%;
    h2{
        color: $grey;
        font-family: $RALSB;
        font-size: 2em;
        text-align: center;
        margin-bottom: 70px;
    }
    .leftFaq{
        margin-bottom: 35px;
    }
    .leftFaq, .rightFaq{
        h3{
            color: $grey;
            font-family: $RALSB;
            font-size: 1.3em;
            margin-bottom: 50px;
            text-align: center;
        }
        div{
            h4{
                color: $grey;
                font-family: $RALSB;
                font-size: 1.1em;
                margin-bottom: 30px;
            }
        }
    }
}

.aboutContainer{
    // padding: 100px 0;
    // background: url('../img/faq_bg.jpg') no-repeat center fixed;
    background-size: cover;
    min-height: 100%;
    .pictopropos{
        width: 250px;
    }
    .titleContainer
    {
        background: url(../img/apropos_img.jpg) no-repeat fixed;
        min-height: 100%;
    }
    .photosContainer
    {
        background: url(../img/IMG.jpg) no-repeat center fixed;
        background-size: cover;
        min-height: 100%;
        padding: 50px 0 70px;
        .Name{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            text-align: center;
            margin: 0;
            color: $grey;
            visibility: hidden;
            font-size: 1em;
            opacity: 0;
            transition: ease-in-out all 0.5s;
            padding-top: 45px;
            font-family: $RALSB;
        }
        .Hadrien{
            background: url('../img/portrait-01.png')no-repeat center;
            height: 154px;
            &:hover{
                background: url('../img/portrait-01-j.png')no-repeat center;
                .Name{
                    z-index: 99;
                    width: 100%;
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
        .Laura{
            background: url('../img/portrait-02.png')no-repeat center;
            height: 154px;
            &:hover{
                background: url('../img/portrait-02-j.png')no-repeat center;
                .Name{
                    z-index: 99;
                    width: 100%;
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
        .Marie{
            background: url('../img/portrait-03.png')no-repeat center;
            height: 154px;
            &:hover{
                background: url('../img/portrait-03-j.png')no-repeat center;
                .Name{
                    z-index: 99;
                    width: 100%;
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
        .Stephane{
            background: url('../img/portrait-04.png')no-repeat center;
            height: 154px;
            &:hover{
                background: url('../img/portrait-04-j.png')no-repeat center;
                .Name{
                    z-index: 99;
                    width: 100%;
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
        .Lisa{
            background: url('../img/portrait-05.png')no-repeat center;
            height: 154px;
            &:hover{
                background: url('../img/portrait-05-j.png')no-repeat center;
                .Name{
                    z-index: 99;
                    width: 100%;
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
        .Pascal{
            background: url('../img/portrait-06.png')no-repeat center;
            height: 154px;
            &:hover{
                background: url('../img/portrait-06-j.png')no-repeat center;
                .Name{
                    z-index: 99;
                    width: 100%;
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
        .Elvis{
            background: url('../img/portrait-07.png')no-repeat center;
            height: 154px;
            &:hover{
                background: url('../img/portrait-07-j.png')no-repeat center;
                .Name{
                    z-index: 99;
                    width: 100%;
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
        .Jerome{
            background: url('../img/portrait-08.png')no-repeat center;
            height: 154px;
            &:hover{
                background: url('../img/portrait-08-j.png')no-repeat center;
                .Name{
                    z-index: 99;
                    width: 100%;
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
    div{
        padding: 0;
        margin-top: 45px;
    }
    h3{
        color: $grey;
        font-family: $RALSB;
        font-size: 2em;
        text-align: center;
        margin-bottom: 70px;
    }
    p{
        color: $grey;
        font-family: $RALL;
        font-size: 1em;
        margin-bottom: 30px;
        }
    div{
        color: $grey;
        font-family: $RALSB;
        font-size: 1.1em;
        margin-bottom: 30px;
        text-align: center;
        margin: 0;
        h4{
            color: $black;  
        }
    }
}
// MENTIONS LEGALES
.mentionsContainer{
    padding: 100px 0;
    background: url(../img/faq_bg.jpg) no-repeat center fixed;
    background-size: cover;
    h2{
        color: $grey;
        font-family: $RALSB;
        font-size: 2em;
        text-align: center;
        margin-bottom: 70px;
    }
    .leftMentions{
        p{
            color: $grey;
            font-family: $RALL;
            font-size: 1em;
            margin-bottom: 30px;
        }
        div{
            h3{
                color: $grey;
                font-family: $RALSB;
                font-size: 1.1em;
                margin-bottom: 30px;
            }
            p{
                color: $grey;
                font-family: $RALL;
                font-size: 1em;
                margin-bottom: 30px;
            }
        }
    }
}

// MODALS
.reveal-modal{
    .lead{
        text-align: center;
        font-family: $RALR;
        color: $grey;
        font-size: 1.3em;
    }
    #endForm{
        display: block;
        margin: auto;
    }
    .modalButton{
        width: 200px;
    }
}

// REFERENCES
.referencesContainer{
    background-color: $lightgrey; 
    .titleContainer{
        padding: 40px 0;
        text-align: center;
        h2{
            img{
                width: 180px;
                padding: 0;
            }
        }
    }
    .referencesImages{
        padding-bottom: 200px;
        section{
            .imgWrap{
                margin: 0;
                padding: 0;
                a{
                    .referenceDesc{
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        text-align: center;
                        margin: 0;
                        background: rgba($yellow, 0.6);
                        color: $grey;
                        visibility: hidden;
                        font-size: 1.15em;
                        opacity: 0;
                        transition: ease-in-out all 0.5s;
                        padding-top: 80px;
                    }
                    &:hover{
                        .referenceDesc, .plusIcon{
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                    .plusIcon{
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        text-align: center;
                        margin: 0;
                        background: url(../img/references/plus.png) no-repeat center;
                        background-size: 25px;
                        visibility: hidden;
                        opacity: 0;
                        transition: ease-in-out all 0.5s;
                    }
                }   
            }
        }
    }
}

.referencesPageContainer{
    padding-top: 50px;
    h2{
        text-align: center;
        color: $black;
        font-family: $RALSB;
    }
    h3{
        color: $black;
        text-align: center;
    }
    .refContainer{
        background-color: #E1E1E1;
        div{
            padding:0;
        }
        .texte{
            padding: 40px;
            font-family: $RALSB;
            color: $black;
        }
        p{
            font-family: $RALSB;
        }
    }
    .row{
        div{
            // padding: 0;
            p{
                margin-right: 10px;
                margin-top: 10px;
            }
        }
    }
}

// ENTREPRISE
.entrepriseContainer{
    background-color: $lightgrey;
    .titleContainer{
        padding: 100px 0;
        background: url(../img/entreprises/entreprise_bg.jpg)no-repeat center fixed;
        background-size: cover;
        min-height: 100%;
        padding: 120px 0;
        text-align: center;
        h2{
            img{
                width: 400px;
                padding: 0;
            }
        }
    }
    .firstContainer, .thirdContainer{
        .leftText{
            h4, p{
                text-align: right;
                color: $grey;
                font-size: 1.1em;
            }
            h4{
                font-family: $RALSB;
                margin-bottom: 20px;
                font-weight: bold;
            }
            p{
                font-family: $RALR;
            }
        }
        .pictoWrap{
            p{
                font-family: 'social';
                font-size: 8em;
                margin: 25px 0 0 50px;
            }
        }
    }
    .firstContainer{
        background-color: $whitegrey;
        padding: 100px 0;
        h3{
            color: $grey;
            text-align: center;
            font-family: $RALSB;
            font-size: 1.8em;
            margin-bottom: 110px;
        }
        .pictoWrap{
            p{
                background: url(../img/entreprises/rond-01.png) no-repeat;
                background-size: 140px;
                &::before{
                    content: '\e007';
                    vertical-align: top;
                    margin-left: 6px;
                    line-height: 155px;
                }
            }
        }
    }
    .secondContainer{
        padding: 100px 0;
        background: url(../img/entreprises/des-experts.jpg)no-repeat center fixed;
        background-size: cover;
        min-height: 100%;
        .rightText{
            h4, p{
                text-align: left;
                color: $grey;
                font-size: 1.1em;
            }
            h4{
                font-family: $RALSB;
                margin-bottom: 20px;
                font-weight: bold;
            }
            p{
                font-family: $RALR;
            }
        }
        .pictoWrap{
            p{
                background-color: $whitegrey;
                border-radius: 50%;
                width: 140px;
                height: 140px;
                font-family: 'social';
                font-size: 8em;
                margin: 25px 0 0 290px;
                &::before{
                    content: '\e008';
                    vertical-align: top;
                    margin-left: 5px;
                    line-height: 160px;
                }
            }
        }
    }
    .thirdContainer{
        background-color: $whitegrey;
        padding: 100px 0;
        .pictoWrap{
            p{
                background: url(../img/entreprises/rond-03.png) no-repeat;
                background-size: 140px;
                &::before{
                    content: '\e006';
                    vertical-align: top;
                    margin-left: 4px;
                    line-height: 150px;
                }
            }
        }
    }
    .formWrap{
        padding: 100px 0;
        background-color: $lightgrey;
        h2{
            font-family: $RALSB;
            font-size: 1.8em;
            color: $grey;
            text-align: center;
        }
        #decrivez{
            font-family: $RALR;
            font-size: 1.2em;
            color: $grey;
            text-align: center;
            margin: 60px 0 40px;
        }
    }
}

// ARTISTS
.artistContainer{
    background-color: $whitegrey;
    .coinWrap{
        background: url(../img/artists/header-bg.jpg) no-repeat center fixed;
        background-size: cover;
        min-height: 100%;
        padding: 50px 0 70px;
        .titleContainer{
            // padding: 120px 0;
            text-align: center;
            h2{
                img{
                    width: 250px;
                    padding: 0;
                }
            }
        }
        .explications{
            overflow: hidden;
            .part1{
                .backgroundPa{
                    margin-left: -100px;
                }
            }
            .part2{
                .textArt{
                    margin: 0 0 0 15px;
                }
            }
            .part3{
                .backgroundPa{
                    margin-right: -100px;
                }
                .textArt{
                    margin: 0 0 0 40px;
                }
            }
            .part1, .part2, .part3{
                margin: 50px 0 110px;
                .backgroundPa{
                    background: $lightgrey;
                    -webkit-transform: skew(-25deg);
                    -moz-transform: skew(-25deg);
                    -o-transform: skew(-25deg);
                    tranform: skew(-25deg);
                    padding: 100px;
                }
                .textArt{
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    text-align: center;
                    color: $grey;
                    width: 90%;
                    padding-top: 35px;
                    h3{
                        font-size: 1.2em;
                        font-family: $RALSB;
                        color: $grey;
                    }
                    p{
                        
                    }
                }
            }
            .scrollTo{
                margin: 0 auto;
                display: block;
            }
        }
    }
    .artistForm{
        background: url(../img/artists/form-bg.jpg) no-repeat center fixed;
        padding: 100px 0;
        h2, h3{
            text-align: center;
            color: $grey;
            font-family: $RALSB;
        }
        h2{
            font-size: 1.8em;
        }
        h3{
            font-size: 1.3em;
            margin: 25px 0 65px;
        }
    }
    .artistWrap{
        margin: 80px 0;
        h2{
            text-align: center;
            color: $grey;
            font-family: $RALSB;
            font-size: 1.8em;
            margin-bottom: 110px;
        }
        .artistPictures{
            .hoverImage{
                display: block;
                top: 0;
                left: 0;
                margin-top: -220px;
                visibility: hidden;
                opacity: 0;
                transition: ease-in-out all 0.5s;
            }
            .artistsImages{
                display: block;
                top: 0;
                left: 0;
            }
            .artistName{
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                text-align: center;
                margin: 0;
                color: $grey;
                visibility: hidden;
                font-size: 1.15em;
                opacity: 0;
                transition: ease-in-out all 0.5s;
                padding-top: 90px;
                font-family: $RALSB;
            }
            &:hover{
                .artistName{
                    z-index: 99;
                    width: 100%;
                    opacity: 1;
                    visibility: visible;
                }
                .hoverImage{
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }
}

@media only screen and (max-width: 40em) { 
    .artistContainer{
        .coinWrap{
            .explications{
                .part1{
                    margin: 50px 0 0;
                    .backgroundPa{
                        margin-left: 0;
                    }
                }
                .part2{
                    margin: 25px 0;
                    .textArt{
                        margin:0;
                    }
                }
                .part3{
                    margin: 0 0 70px;
                    .backgroundPa{
                        margin-right: 0;
                    }
                    .textArt{
                        margin:0;
                    }
                }
                .part1, .part2, .part3{
                    padding: 0;
                    .backgroundPa{
                        -webkit-transform: skew(0deg);
                        -moz-transform: skew(0deg);
                        -o-transform: skew(0deg);
                        tranform: skew(0deg);
                    }
                    .textArt{
                        width: 100%;
                    }
                }
            }
        }
    }
}
